* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("./road1.jpg") no-repeat;
  background-size: cover;
}
body .avater {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 450px;
}
body .avater a {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
body .avater a img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: rotate(-45deg);
  z-index: 10;
  box-shadow: 0 0 3px 3px #8a898e8a;
}
body .avater a .avater-show {
  position: absolute;
  top: -6px;
  left: -6px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 6px solid #c2c2c48a;
  animation: avater 1.5s infinite;
}
body .filter {
  flex: 1;
  filter: blur(8px);
  background: url("./road1.jpg") no-repeat 0 -450px;
  background-size: cover;
}
body .content {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 450px;
  left: 0;
  width: 100%;
  margin-top: 20px;
}
body .content .info h2 {
  padding: 10px 0;
}

@keyframes avater {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@media screen and (max-width: 2121px) {
  body {
    background-position: 49.1% 0;
    background-size: inherit;
  }

  body .filter {
    background-position: 49.1% -450px;
    background-size: inherit;
  }
}